/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background: #393939;
}

.Main {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
  grid-template-columns: repeat(120, 1fr);
  grid-template-rows: auto 4.5rem;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: #333333;
}

@media only screen and (min-width: 992px) {
  .Main {
    width: 414px;
    border-right: 0.1rem solid #303030;
    border-left: 0.1rem solid #303030;
  }
}
