<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  <base href="/public/@musasutisna/theme-barcode-scanner/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script>
    const ENV = {
      appName: 'theme-barcode-scanner',
      // pageUrl: "<%= page.page_url.replaceAll('/*', '') %>"
      pageUrl: "/theme-barcode-scanner"
    }
  </script>
  <link rel="stylesheet" href="/public/@musasutisna/theme-barcode-scanner/styles.css"></head>
  <body>
    <app-root></app-root>
    <script src="/public/@musasutisna/theme-barcode-scanner/runtime.js" defer></script><script src="/public/@musasutisna/theme-barcode-scanner/polyfills.js" defer></script><script src="/public/@musasutisna/theme-barcode-scanner/main.js" defer></script>
  </body>
</html>
