<div class="Menus">
  <div class="MenuLeft">
    <a class="MenuItem" [routerLink]="['/history']">
      <i class="material-icons">history</i>
      <span>History</span>
    </a>
  </div>
  <div class="MenuMain">
    <a class="MenuItem" [routerLink]="['/scan']">
      <img src="assets/img/icon-qrcode.png" />
    </a>
  </div>
  <div class="MenuRight">
    <a class="MenuItem" [routerLink]="['/setting']">
      <i class="material-icons">settings</i>
      <span>Setting</span>
    </a>
  </div>
</div>
