<div id="History">
  <div class="Main">
    <app-menus></app-menus>
    <div class="Content">
      <h1 class="Title">Scanner History</h1>
      <div class="History">
        <div *ngFor="let history of (histories$ | async); let historyIndex = index;" class="BarcodeItem">
          <div class="BarcodeItemImg">
            <img [class]="history.symbol" appBarcodeGenerator [symbol]="history.symbol" [data]="history.data" />
          </div>
          <ul class="BarcodeItemInfo">
            <li>
              <i class="material-icons">history</i>
              <span>{{ history.date }}</span>
            </li>
            <li>
              <i class="material-icons">aspect_ratio</i>
              <span>{{ history.data.length }}</span>
            </li>
          </ul>
          <div class="BarcodeItemData">
            <span>{{ history.data }}</span>
            <button type="button">
              <i class="material-icons">assignment</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
