.Camera {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Target {
    position: relative;
    width: 20rem;
    height: 20rem;
    background: #FFFFFF;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      margin: auto;
      content: '';
      width: 97%;
      height: 97%;
      background: url('../../../assets/img/target.png') no-repeat;
      background-size: 100% 100%;
    }
  }
  .Description {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #F0F0F0;
  }
}
